# https://docs.djangoproject.com/en/dev/ref/settings/#std-setting-DEBUG
# True or False
# Needs to be set to False in production
DJANGO_DEBUG=True

# https://docs.djangoproject.com/en/dev/ref/settings/#std-setting-SECRET_KEY
# Should be a random string with the following criteria:
# - 50 characters or more
# - 5 unique characters or more
DJANGO_SECRET_KEY=

# https://docs.djangoproject.com/en/5.0/ref/settings/#std-setting-EMAIL_HOST_USER
# Username to use for the SMTP server defined in EMAIL_HOST.
# If empty, Django won’t attempt authentication.
EMAIL_HOST_USER=

# https://docs.djangoproject.com/en/5.0/ref/settings/#std-setting-EMAIL_HOST_USER
# Password to use for the SMTP server defined in EMAIL_HOST.
# This setting is used in conjunction with EMAIL_HOST_USER when authenticating to the SMTP server.
# If either of these settings is empty, Django won’t attempt authentication.
EMAIL_HOST_PASSWORD=

# Panso.se uses https://github.com/jazzband/django-redis to talk to https://github.com/microsoft/garnet
# IP or hostname of the Garnet server
GARNET_HOST=localhost

# Garnet port - default is 6379
GARNET_PORT=6379

# Password to use when connecting to Garnet
GARNET_PASSWORD=
