{% extends "base.html" %}

{% block content %}
<h1>Välkommen till panso.se</h1>

<!-- Search form -->
<form action="" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="q" placeholder="Sök efter produkter..."
            aria-label="Sök efter produkter..." aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Sök</button>
    </div>
</form>

<h2>Populära produkter</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Produkt 1</h5>
                <a href="" class="btn btn-primary">Visa produkt</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Produkt 2</h5>
                <a href="" class="btn btn-primary">Visa produkt</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Produkt 3</h5>
                <a href="" class="btn btn-primary">Visa produkt</a>
            </div>
        </div>
    </div>
    <h2>Bra deals</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Deal 1</h5>
                    <a href="" class="btn btn-primary">Visa produkt</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Deal 2</h5>
                    <a href="" class="btn btn-primary">Visa produkt</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Deal 3</h5>
                    <a href="" class="btn btn-primary">Visa produkt</a>
                </div>
            </div>
        </div>
        <h2>Snabblänkar</h2>

        <ul>
            <li><a href="">Kontakta oss</a></li>
            <li><a href="">Om oss</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
